$platt-green: #008833;

$white: #ffffff;
$gray: #eeeeee;
$darkgray: #666666;
$black: #000000;

$primary-font: 'PT Sans', Arial, sans-serif;
$heavy-font: 'Darker Grotesque', Arial, sans-serif;

$breakpoint-tablet: 768px;

$font-xlarge: 1.8em;
$font-large: 1.6em;
$font-medium: 1.2em;
$font-normal: 1em;

@mixin shadowed {
    box-shadow: 0px 2px 6px 0px rgba(114, 114, 114, 0.5);
    transition: box-shadow ease-in-out 0.4s;

    &:hover {
        box-shadow: 0px 3px 8px rgba(114, 114, 114, 0.7);
    }
}

@mixin centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@mixin centered-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@mixin mobile-only {
    @media(min-width: $breakpoint-tablet) {
        display: none;
    }
}

@mixin tablet-only {
    @media(max-width: $breakpoint-tablet - 1px) {
        display: none;
    }
}