@import '~/shared-styles.scss';

.text {
    font-size: $font-medium;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 34%;

    @media(min-width: $breakpoint-tablet) {
        padding: 0.5em;
    }
}

.cardLink {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $black;
}

.image {
    height: 66%;
    display: flex;
    
    img {        
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.navCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.centeredImage {
    .navCard {
        min-height: 250px;
    }
    img {
        width: auto;
        margin: auto;
        height: 80%;
    }
}