@import '~/shared-styles.scss';

.fullImage {
    object-fit: cover;
    width: 100%;
    min-height: 190px;
    object-position: right;
}

.text {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 700;
    font-size: $font-medium;
}

.link {
    text-decoration: none;
    color: $black;
    display: block;
    height: 100%;
    width: 100%;
}