@import '~/shared-styles.scss';

.wrapper {
    position: relative;
    height: 1em;
    width: 1em;
    display: block;
}

.tag {
    position: absolute;
    top: -0.1em;
    right: -0.4em;
}

svg.tag {
    width: 0.8em;
    height: 0.8em;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
}