@import '~/shared-styles.scss';

.card {
    margin: 8px;
    margin-bottom: 16px;
    background-color: $white;
    flex: 0 1 calc(50% - 1em);

    @include centered-column;

    @include shadowed;
}