@import '~/shared-styles.scss';

.navbar {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;

    .left {
        width: 50%;

        @include centered-row;
        justify-content: start;
    }

    .right {
        width: 50%;
        @include centered-row;
        justify-content: space-around;
    }
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 24px);
    padding: 12px;
    padding-top: 16px;
    background-color: $platt-green;
}