@import '~/shared-styles.scss';

.searchInput {
    padding: 16px;
    width: 100%;
    border-radius: 4px;
    border: none;
    font-size: $font-normal;
}

.searchInput.suggestionsOpen {
    border-radius: 4px 4px 0 0;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.33);
}

.search {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    width: 90%;
    position: relative;
}

.searchIcon {
    display: block;
    height: 20px;
    right: 14px;
    position: absolute;

    color: $black;

    &:hover {
        color: $black;
    }
}

.suggestions {
    width: 100%;
    position: absolute;
    background-color: $white;
    top: calc(100% - 3em);
    border-radius: 0 0 4px 4px;
    z-index: 99;

    @include shadowed;
}

.suggestion {
    padding-left: $font-normal;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $darkgray;
    border-top: 1px solid $gray;

    &:hover {
        color: $black;
        cursor: pointer;
    }
}

.form {
    @include centered-row;
}
