@import '~/shared-styles.scss';

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: $darkgray;
    color: $white;
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: $font-normal;

    address {
        font-style: normal;
    }
    text-align: center;
}

.center {
    grid-row: 1;
    grid-column: 2;
    @include centered-column;

    > * {
        margin-top: $font-normal;
    }
}

.bottom {
    grid-row: 2;

    font-size: 0.8em;
    margin-top: 2em;
}

a.bottom {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}
    
.left {
    grid-column: 1;
}

.middle {
    grid-column: 2;
}

.right {
    grid-column: 3;
}

.deEmphasized {
    color: darken($gray, 30%);
}

.smaller {
    font-size: 0.8em;
}

.liveHelp {
    @include centered-row;
    font-weight: 400;
    font-size: 0.7em;
    img {
        min-height: $font-normal;
        margin-right: 0.25em;
    }
}