@import '~/shared-styles.scss';

.capsule {
    display: block;
    border-radius: 100px;
    background-color: $gray;
    font-size: $font-medium;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2em;
    @include centered-row;
    padding-left: 2em;
    padding-right: 2em;

    text-decoration: none;
    color: $black;
    transition: box-shadow 0.2s;
    transition: filter 0.2s;
    white-space: nowrap;

    &:active {
        filter: brightness(0.95);
        box-shadow: inset 0px 2px 6px 0px rgba(0,0,0,0.4);
    }
}