@import '~/shared-styles.scss';

.cards {
    @include centered-row;
    width: 100%;
    justify-content: space-between;

    > * {
        flex: 0 1 calc((100% / 6) - 1em)
    }
}

.title {
    width: 100%;
    padding-top: $font-normal;
    text-align: center;
    font-size: 1.4em;
}

.productMarkets {
    width: 100%;
    @include tablet-only;
}