@import '~/shared-styles.scss';

.link {
    font-size: $font-medium;
    text-decoration: none;
    color: black;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;

    @media(max-width: $breakpoint-tablet - 1) {
        margin-left: 1em;
        margin-right: 1em;
    }

    @media(min-width: $breakpoint-tablet) {
        justify-content: center;
        text-align: center;
        outline: 1px solid $gray;
    }
}

.icon {
    width: 22px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.right {
    margin-left: auto;
    padding-right: 1em;

    @include mobile-only;
}

.left {
    display: flex;
    align-items: center;
}