@import '~/shared-styles.scss';

.navigation {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $white;

    @media(min-width: $breakpoint-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        > :first-child {
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    > :first-of-type {
        font-size: $font-medium;
        font-weight: 700;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    @media(max-width: $breakpoint-tablet - 1) {        
        > :not(:first-of-type) {
            border-top: 2px solid $gray;
        }
    }
}