@import '~/shared-styles.scss';

.topBar {
    @include centered-row;
    width: 100%;
    padding-top: $font-normal;
    font-weight: 700;
    font-size: 1.2em;

    > :first-child {
        margin-left: $font-normal;
    }

    > :last-child {
        margin-right: $font-normal;
    }
}

.items {
    margin-bottom: 20px;
    width: 100%;
    @include centered-row;
    justify-content: space-around;
    height: 100%;

    a {
        width: calc(100% / 3);
        height: auto;
        margin: $font-normal;
        display: inline-flex;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.viewAll {
    margin-left: auto;

    a {
        color: $platt-green;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.card {
    height: calc(100% - 1em);
}