@import '~/shared-styles.scss';

.wrapper {
    position: relative;
    height: 1em;
    width: 1em;
    display: block;
}

.add {
    position: absolute;
    top: 0.12em;
    left: 0.2em;
}

svg.add {
    fill: $white;
    width: 0.6em;
    height: 0.6em;
}

.bubble {
    position: absolute;
    top: 0;
    left: 0;
}

svg.bubble {
    fill: $platt-green;
}