@import '~/shared-styles.scss';

.main {
    font-size: $font-xlarge;
}

.secondary {
    font-size: $font-large;
}

.mainImage {
    width: 100%;
    max-width: 400px;
    margin-top: 2em;
    margin-bottom: $font-normal;

    @media(min-width: $breakpoint-tablet) {
        grid-column: 1;
        margin: auto;
    }
}

.textContent {
    @include centered-column;
    margin: auto;
}

.emphasis {
    color: $platt-green;
}

.plattPlus {
    @include centered-column;
    padding-top: $font-normal;
    padding-bottom: $font-normal;
    width: 100%;
    @media(min-width: $breakpoint-tablet) {
        flex-direction: row;
    }
}