@import '~/shared-styles.scss';

.button {
    margin: 4px;
    border-radius: 100%;
    background-color: $white;

    @include shadowed;

    > * {
        padding: 28px;
        height: 2em;
        width: 2em;
        color: $platt-green;
    }

    > svg {
        height: 2em;
        width: 2em;
        fill: $platt-green;
    }
}

.label {
    color: $black;
    text-decoration: none;
}

.buttonRoot {
    @include centered-column;
}