@import '~/shared-styles.scss';

.mobileActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: $font-medium;

    @include mobile-only;
}