@import '~/shared-styles.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $gray;
    font-family: $primary-font;
    color: $black;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $font-large;
}

a:hover {
    color: $platt-green;
}

.allCards {
    display: grid;
    width: 100%;
    grid-template-columns: [start] 1fr 1fr 1fr 1fr [end];

    @media(min-width: $breakpoint-tablet) {
        grid-template-columns: [start] 1fr 1fr 1fr [middle] 1fr 1fr 1fr [end];
    }

    .dailyDeals {
        grid-column-start: start;
        grid-column-end: end;

        @media(min-width: $breakpoint-tablet) {
            grid-column-end: middle;
        }
    }

    .plattPlus {
        grid-column-start: start;
        grid-column-end: end;

        @media(min-width: $breakpoint-tablet) {
            grid-row-start: 1;
        }
    }

    .recentlyViewed {
        grid-column-start: start;
        grid-column-end: end;

        @media(min-width: $breakpoint-tablet) {
            grid-column-start: middle;
        }
    }

    .cardGrid {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    
        grid-column-start: start;
        grid-column-end: end;
    
        @media(min-width: $breakpoint-tablet) {
            flex-wrap: nowrap;
        }
    }
}

.appAd {
    grid-column-start: start;
    grid-column-end: end;
}